body {
	font-family: 'Open Sans';
	font-size: 1.2em;
	color: #333;
	background-color: #f7f7f7;
}

.wrapper {
	margin: 8% auto;
	width: 300px;
}

#task {
	border: 5px solid #2c3e50;
	border-radius: 10px;
	width: 280px;
	padding: 10px;
}

#super-title {
	text-align: center;
}

.items {
	border-bottom: 1px dashed #2c3e50;
    padding-bottom: 20px;
}